.hero {
  background-image: url("../../img/watches.jpg");
  background-repeat: no-repeat;
  background-position: center right -295px;
}
.hero__content {
  padding-top: 200px;
  padding-bottom: 339px;
  width: 375px;
}
.hero__heading {
  margin: 0;
  margin-bottom: 40px;
  @include textStyle(40px, 56px, #000000);
}
.hero__text {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  @include textStyle(14px, 18px, rgba(0, 0, 0,0.6));
}
.hero__text::before {
  width: 8px;
  height: 90px;
  margin-right: 20px;
  content: "";
  background-color: rgba(0, 0, 0,0.6);
}
.hero__button {
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-left: 16px;
  border: none;
  background-color: rgb(252, 81, 29);
  color: #ffffff;
  font-variant: small-caps;
}
.hero__button:hover {
  cursor: pointer;
}
.hero__button:active {
  background-color: rgb(235, 73, 23);
}